:root {
    --red: #FF6663;
    --orange: #FEB144;
    --yellow: #FDFD97;
    --green: #9EE09E;
    --blue: #9EC1CF;
    --blue-name: #4ba2c4;
    --purple: #CC99C9;
    --active: #c4312e;
    --inactive: #38c538;
    --main: #1c5064;
}

.App {
    background-color: rgb(249, 249, 249);
    padding-top: var(--bs-gutter-y, .75rem);
    padding-bottom: var(--bs-gutter-y, .75rem);
    font-family: 'Borel', cursive, 'Merriweather', serif, 'Open Sans', sans-serif;
    height: 100vh;
    color: var(--main);
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: var(--blue-name);
}

.form-control,
.form-select {
    color: var(--main);
}

.form-control:focus,
.form-select:focus {
    border-color: var(--blue-name);
    box-shadow: var(--blue-name);
}

.col>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rooms-menu-page,
.one-room-page,
.add-room-page {
    height: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

/* ------------------*/
/* -------TITLE------*/
/* ------------------*/

.title {
    height: 11%;
    text-align: center;
}

.title-name>* {
    font-size: 32px;
    color: var(--blue-name);
}

.bi-house-heart {
    font-size: 30px;
}

/* ----------------------*/
/* -------ROOM MENU------*/
/* ----------------------*/

.room-button {
    height: 122px;
    border-radius: 25px;
}

.room-button>span,
.one-room-name>span {
    font-size: 30px;
}

/* ------------------*/
/* -----ONE ROOM-----*/
/* ------------------*/
.one-room-top {
    width: 100%;
}

.one-room-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    line-height: 1.5rem;
}

.one-room-erase-button {
    position: absolute;
    left: 297px;
    top: 107px;
}

.fa-trash-o {
    font-size: 1.2rem;
}

.one-room-page>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.one-room-page>.container>.row {
    width: 100%;
}

.one-room-add-button {
    border: none;
    background-color: none;
    padding: 0px;
}

/* ------------------------*/
/* -----DEVICE IN ROOM-----*/
/* ------------------------*/

.device-in-room-page {
    padding: 1rem;
}

#device-in-room {
    width: 100px;
    height: 100px;
    position: relative;
    justify-content: end;
    padding: 0.5rem;
    border-radius: 25px;
    margin: 0px;

}

#device-in-room-delete {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    border: none;
}

#device-in-room-col {
    display: flex;
    justify-content: center;
}